/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*GENERALES*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: url(../assets/cubes.png) #F4F4F4;
}

#contenedor {
    width: 85%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #ccc;
}

h1 {
    font-size: 32px;
    color: #444;
    text-shadow: 1px 1px 2px #ccc;
}

#resultados {
    list-style: none;
    padding: 0;
}

.resultado {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.resultado strong {
    font-size: 18px;
    color: #2979CD;
}

.resultado .categoria {
    display: block;
    color: #666;
    font-size: 14px;
    margin-top: 5px;
}

.alerta {
    padding: 10px;
    font-size: 16px;
    color: white;
    background: red;
    text-align: center;
    border-radius: 5px;
}